@import '../../layout/styles/_variables.css';

.suContainer {
  display: block;
  composes: container from '../../layout/styles/_placeholders.css';
}
.suLabel {
  margin-top: 32px;
  color: #fff;
  display: block;
  text-align: center;
}

.suInput {
  margin: 32px auto;
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.60);
  border-radius: 2px;
  min-width: 200px;
  display: block;
  @nest &:focus {
    outline: 0;
    border-bottom-color: transparent;
    background-color: var(--accentColor);
    color: var(--fallbackColor);
  }
}

.suButton {
  composes: btnSmall from '../../layout/styles/components/_btn.css';
  composes: bgAccent from '../../layout/styles/_placeholders.css';
  border: 0;
  margin: 48px auto 0 auto;
  @nest &:focus {
    outline: 0;
  }
}
