.vnContainer {
  composes: displayBlock from '../../layout/styles/_placeholders.css';
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.vnCover {
  composes: bgAccent from '../../layout/styles/_placeholders.css';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @nest & span {
    text-align: center;
    color: #fff;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
  }
}

.vnList {
  padding: 16px;
}

.vnListItem {
  composes: listItem from '../../layout/styles/_placeholders.css';
}

.vnListItemField {
  composes: colorPrimary from '../../layout/styles/_placeholders.css';
  min-width: 140px;
}

.vnButtonAdd {
  composes: btnFab from '../../layout/styles/components/_btn.css';
  color: #fff;
  margin-bottom: 16px;
}

.vnButton {
  composes: btnLarge from '../../layout/styles/components/_btn.css';
  composes: bgPrimary from '../../layout/styles/_placeholders.css';
  width: calc(100% - 48px);
  margin: 0 auto;
}
