section
  a(class='icon-add')
  span Tap to add vehicle photo

section
  div
    span year
    p 1969
  div
    span make
    p Dodge
  div
    span Model
    p Challenger
  div
    span License Plate
    p 2FAST

a ADD VEHICLE
