section
  img(src='https://pbs.twimg.com/profile_images/434483180272250880/268ZmiiY.jpeg')
  span Omar Lozada

section
  span skeiter97@gmail.com \ 555-555-5555

section
  span 1969
  span Dodge Challenger \ 2FAST

nav
  a
    span DROP ALERTS
    span(class='icon-notifications')
  a
    span VEHICLES
    span(class='icon-message')
  a
    span SETTINGS
    span(class='icon-settings')
